*{
    margin: 0;
    padding: 0;
}

.app {
    background-image: url('../images/bgimage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    hr {
        border-bottom: none;
        border-color: rgba(255, 255, 255, 0.2);
    }
}

@media only screen and (max-width: 600px) {
    .app {
        height: auto;
    }
}