.frame{
    display: inline-block;
    transform: translate(-50%, -50%);
    position: relative;
    top: 0;
    left: 30%;
  // THE MAGIC STARTS HERE
    .lines{
        background:
        linear-gradient(to bottom, #34495E 2px, transparent 2px) 0 0, // TOP LEFT TO TOP RIGHT
        linear-gradient(to right, #34495E 2px, transparent 2px) 0 100%, // BOTTOM LEFT TO TOP LEFT
        linear-gradient(to left, #34495E 2px, transparent 2px) 100% 0, // TOP RIGHT TO BOTTOM RIGHT
        linear-gradient(to top, #34495E 2px, transparent 2px) 100% 100%; // BOTTOM RIGHT TO TOP RIGHT
        background-repeat: no-repeat;
        background-size: 0px 0px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: background-size 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    .angles{
        background:
        linear-gradient(to right, #A6AFC0 2px, transparent 2px) 0 0, // TOP LEFT
        linear-gradient(to bottom, #A6AFC0 2px, transparent 2px) 0 0, // TOP LEFT
        linear-gradient(to left, #A6AFC0 2px, transparent 2px) 100% 0, // TOP RIGHT
        linear-gradient(to bottom, #A6AFC0 2px, transparent 2px) 100% 0, // TOP RIGHT
        linear-gradient(to left, #A6AFC0 2px, transparent 2px) 100% 100%, // BOTTOM RIGHT
        linear-gradient(to top, #A6AFC0 2px, transparent 2px) 100% 100%, // BOTTOM RIGHT
        linear-gradient(to right, #A6AFC0 2px, transparent 2px) 0 100%, // BOTTOM LEFT
        linear-gradient(to top, #A6AFC0 2px, transparent 2px) 0 100%; // BOTTOM LEFT
        background-repeat: no-repeat;
        background-size: 7px 7px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.48;
        transition: background-size 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    &:hover{
        .lines{
            background-size: 100% 100%;
        }
        .angles{
            background-size: 14px 14px;
    // THE MAGIC ENDS HERE
        }
    }
    article{
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 30px;
        position: relative;
        cursor: pointer;
        p {
            font-family: sans-serif;
            font-size: 12px;
            color: #fff;
            position: relative;
        }
    }
}


@media only screen and (max-width: 735px) {
    .frame{
        position: static;
        transform: translate(10px, 10px);
        z-index: 0;
    }
}