.home_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin: 50px auto 0 auto;
    .home_container_namePart {
        &--name {
            color: white;
            font-family: sans-serif;
            h1 {
                font-size: 45px;
            }
        }
        &--button {
            margin-top: 100px;
        }
    }

    .home_container_items{
        &--first {
            display: flex;
            width: 310px;
            justify-content: space-between;
        }
        &--second {
            display: flex;
            width: 310px;
            justify-content: space-between;
        }
    }
}

@media only screen and (max-width: 1025px) {
    .home_container {
        width: 95%;
    }

}

@media only screen and (max-width: 735px) {
    .home_container {
        display: block;
        width: 100%;
        text-align: center;
        .home_container_namePart {
            &--name {
                h1 {
                    font-size: 30px;
                }
            }
            &--button {
                margin: 100px auto;
            }
        }
    
        .home_container_items{
            
            &--first {
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            &--second {
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }   

}